.venv/
unused/

# Python cache
__pycache__/
*.py[cod]

# Coverage
.coveragerc

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
github_link.txt
__pycache__/RAG_architecture.cpython-313.pyc
